In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from file_utils import load_dataframes
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
transaction_items__prior = pd.read_csv('data/transaction_items__prior.csv', na_values='unknown',
                                       dtype={'transaction_id': 'Int64', 'item_id': 'Int64',
                                              'add_to_cart_order': 'Int64', 'previous_bought': 'Int64'})
transaction_items__prior.drop(columns=['Unnamed: 0', 'add_to_cart_order', 'previous_bought'], inplace=True)
transaction_items__prior.dropna(subset=['transaction_id', 'item_id'], inplace=True)
transaction_items__prior['present'] = True
# transaction_items__train.set_index(['transaction_id'], inplace=True)

In [3]:
transaction_items__prior

          transaction_id  item_id  present
0                      2    33120     True
1                      2    28985     True
3                      2    45918     True
4                      2    30035     True
5                      2    17794     True
...                  ...      ...      ...
32076240         3421083    39678     True
32076241         3421083    11352     True
32076242         3421083     4600     True
32076243         3421083    24852     True
32076244         3421083     5020     True

[30074126 rows x 3 columns]

In [33]:
items = pd.read_csv('data/items.csv', na_values=['unknown', 'NaN'],
                        dtype={'item_id': 'Int64', 'alley_id': 'Int64', 'category': 'Int64'})

In [34]:
items

,Unnamed: 0,item_id,item_name,alley_id,category
0,0,1,Chocolate Sandwich Cookies,61,19
1,1,2,All-Seasons Salt,104,13
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...,...
49142,49142,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49143,49143,49685,En Croute Roast Hazelnut Cranberry,42,1
49144,49144,49686,Artisan Baguette,112,3
49145,49145,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49146,49146,49688,Fresh Foaming Cleanser,73,11

In [38]:
categories = pd.read_csv('data/categories.csv')
categories.drop(columns='Unnamed: 0', inplace=True)

In [39]:
categories

    category_id         category
0             1           frozen
1             2            other
2             3           bakery
3             4          produce
4             5          alcohol
5             6    international
6             7        beverages
7             8             pets
8             9  dry goods pasta
9            10             bulk
10           11    personal care
11           12     meat seafood
12           13           pantry
13           14        breakfast
14           15     canned goods
15           16       dairy eggs
16           17        household
17           18           babies
18           19           snacks
19           20             deli
20           21          missing

In [44]:
items_categories = pd.merge(items, categories, left_on='category', right_on='category_id')

In [45]:
items_categories

,Unnamed: 0,item_id,item_name,alley_id,category_x,category_id,category_y
0,0,1,Chocolate Sandwich Cookies,61,19,19,snacks
1,15,16,Mint Chocolate Flavored Syrup,103,19,19,snacks
2,24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,19,snacks
3,31,32,Nacho Cheese White Bean Chips,107,19,19,snacks
4,40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,19,snacks
...,...,...,...,...,...,...,...
47617,43288,43769,Organic Pearled Barley,68,10,10,bulk
47618,45180,45682,Organic Turkish Apricots,68,10,10,bulk
47619,46375,46889,Organic Brown Basmati Rice,68,10,10,bulk
47620,46968,47489,Organic Brown Jasmine Rice,68,10,10,bulk
47621,48246,48778,"Fit Super A Juice, Cold Pressed, Carrot/Apple/...",18,10,10,bulk

In [6]:
transaction_items = transaction_items__prior.join(items.set_index('item_id'), on='item_id')

In [7]:
transaction_items

,transaction_id,item_id,present,item_name
0,2,33120,True,Organic Egg Whites
1,2,28985,True,NaN
3,2,45918,True,Coconut Butter
4,2,30035,True,Natural Sweetener
5,2,17794,True,Carrots
...,...,...,...,...
32076240,3421083,39678,True,Free & Clear Natural Dishwasher Detergent
32076241,3421083,11352,True,Organic Mini Sandwich Crackers Peanut Butter
32076242,3421083,4600,True,All Natural French Toast Sticks
32076243,3421083,24852,True,Banana
32076244,3421083,5020,True,Organic Sweet & Salty Peanut Pretzel Granola ...

In [8]:
transaction_items.count()

transaction_id    30074126
item_id           30074126
present           30074126
item_name         27783321
dtype: int64

In [9]:
item_counts = transaction_items.groupby('item_name').count()
item_counts

,transaction_id,item_id,present
item_name,,,
#2 Coffee Filters,728,728,728
#2 Cone White Coffee Filters,11,11,11
#2 Mechanical Pencils,8,8,8
#4 Natural Brown Coffee Filters,222,222,222
& Go! Hazelnut Spread + Pretzel Sticks,151,151,151
...,...,...,...
with Xylitol Unwrapped Original Flavor 50 Sticks Sugar Free Gum,36,36,36
with Xylitol Unwrapped Spearmint 50 Sticks Sugar Free Gum,51,51,51
with Xylitol Watermelon Twist 18 Sticks Sugar Free Gum,63,63,63
with a Splash of Mango Coconut Water,23,23,23
with a Splash of Pineapple Coconut Water,52,52,52

In [10]:
top_items = item_counts.sort_values(by='transaction_id', ascending=False).head(100)

In [11]:
transaction_top_items = transaction_items[transaction_items['item_name'].isin(top_items.index)]

In [12]:
transaction_top_items.count()

transaction_id    6784036
item_id           6784036
present           6784036
item_name         6784036
dtype: int64

In [13]:
def true_if_any_present(x):
    return x.any()

In [14]:
transactions_data = pd.pivot_table(transaction_top_items, index='transaction_id', columns='item_name', values='present', aggfunc=true_if_any_present, fill_value=False)

In [15]:
transactions_data.head()

item_name,100% Raw Coconut Water,100% Whole Wheat Bread,2% Reduced Fat Milk,Apple Honeycrisp Organic,Bag of Organic Bananas,Banana,Blueberries,Boneless Skinless Chicken Breasts,Bunched Cilantro,Carrots,...,Spring Water,Strawberries,Uncured Genoa Salami,Unsalted Butter,Unsweetened Almondmilk,Unsweetened Original Almond Breeze Almond Milk,Vanilla Almond Breeze Almond Milk,Whipped Cream Cheese,Whole Milk,Yellow Onions
transaction_id,,,,,,,,,,,,,,,,,,,,,
2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
5,False,False,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
10,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [16]:
transactions_data['Banana']

transaction_id
2          False
3          False
5          False
9          False
10          True
           ...
3421078    False
3421080    False
3421081    False
3421082    False
3421083     True
Name: Banana, Length: 2300868, dtype: bool

In [29]:
frequent_itemsets = apriori(transactions_data, min_support=0.01, use_colnames=True)

In [30]:
frequent_itemsets

      support                                      itemsets
0    0.015322                      (100% Raw Coconut Water)
1    0.024475                      (100% Whole Wheat Bread)
2    0.014925                         (2% Reduced Fat Milk)
3    0.034206                    (Apple Honeycrisp Organic)
4    0.152904                      (Bag of Organic Bananas)
..        ...                                           ...
116  0.011546       (Organic Avocado, Organic Baby Spinach)
117  0.013052  (Organic Hass Avocado, Organic Baby Spinach)
118  0.014268  (Organic Baby Spinach, Organic Strawberries)
119  0.015242  (Organic Hass Avocado, Organic Strawberries)
120  0.012624   (Organic Raspberries, Organic Strawberries)

[121 rows x 2 columns]

In [31]:
rules_mlxtend = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.03)

In [32]:
rules_mlxtend

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Organic Baby Spinach),(Bag of Organic Bananas),0.097543,0.152904,0.018841,0.193153,1.263237,0.003926,1.049885,0.230906
1,(Bag of Organic Bananas),(Organic Baby Spinach),0.152904,0.097543,0.018841,0.123220,1.263237,0.003926,1.029285,0.245996
2,(Organic Hass Avocado),(Bag of Organic Bananas),0.086098,0.152904,0.023290,0.270511,1.769162,0.010126,1.161219,0.475719
3,(Bag of Organic Bananas),(Organic Hass Avocado),0.152904,0.086098,0.023290,0.152320,1.769162,0.010126,1.078123,0.513236
4,(Organic Raspberries),(Bag of Organic Bananas),0.055208,0.152904,0.015065,0.272871,1.784596,0.006623,1.164988,0.465340
5,(Bag of Organic Bananas),(Organic Raspberries),0.152904,0.055208,0.015065,0.098524,1.784596,0.006623,1.048050,0.519007
6,(Organic Strawberries),(Bag of Organic Bananas),0.106709,0.152904,0.023029,0.215812,1.411425,0.006713,1.080221,0.326317
7,(Bag of Organic Bananas),(Organic Strawberries),0.152904,0.106709,0.023029,0.150612,1.411425,0.006713,1.051688,0.344112
8,(Banana),(Cucumber Kirby),0.190456,0.039245,0.012021,0.063115,1.608233,0.004546,1.025478,0.467176
9,(Cucumber Kirby),(Banana),0.039245,0.190456,0.012021,0.306297,1.608233,0.004546,1.166990,0.393649
10,(Banana),(Honeycrisp Apple),0.190456,0.032150,0.010623,0.055779,1.734953,0.004500,1.025025,0.523276
11,(Honeycrisp Apple),(Banana),0.032150,0.190456,0.010623,0.330431,1.734953,0.004500,1.209054,0.437687
12,(Banana),(Large Lemon),0.190456,0.061536,0.015344,0.080564,1.309203,0.003624,1.020694,0.291740
13,(Large Lemon),(Banana),0.061536,0.190456,0.015344,0.249345,1.309203,0.003624,1.078451,0.251663
14,(Banana),(Limes),0.190456,0.056759,0.011886,0.062406,1.099477,0.001075,1.006022,0.111763
15,(Limes),(Banana),0.056759,0.190456,0.011886,0.209402,1.099477,0.001075,1.023964,0.095921
16,(Banana),(Organic Avocado),0.190456,0.071285,0.019914,0.104561,1.466797,0.006338,1.037161,0.393113
17,(Organic Avocado),(Banana),0.071285,0.190456,0.019914,0.279360,1.466797,0.006338,1.123368,0.342670
18,(Banana),(Organic Baby Spinach),0.190456,0.097543,0.019221,0.100921,1.034636,0.000643,1.003758,0.041352
19,(Organic Baby Spinach),(Banana),0.097543,0.190456,0.019221,0.197052,1.034636,0.000643,1.008215,0.037095
20,(Banana),(Organic Fuji Apple),0.190456,0.036125,0.012673,0.066543,1.842017,0.005793,1.032586,0.564659
21,(Organic Fuji Apple),(Banana),0.036125,0.190456,0.012673,0.350822,1.842017,0.005793,1.247031,0.474249
22,(Banana),(Organic Hass Avocado),0.190456,0.086098,0.011678,0.061315,0.712157,-0.004720,0.973599,-0.333011
23,(Organic Hass Avocado),(Banana),0.086098,0.190456,0.011678,0.135634,0.712157,-0.004720,0.936576,-0.306645
24,(Banana),(Organic Strawberries),0.190456,0.106709,0.020943,0.109965,1.030508,0.000620,1.003658,0.036570
25,(Organic Strawberries),(Banana),0.106709,0.190456,0.020943,0.196266,1.030508,0.000620,1.007229,0.033141
26,(Banana),(Organic Whole Milk),0.190456,0.055514,0.011773,0.061812,1.113460,0.001200,1.006714,0.125871
27,(Organic Whole Milk),(Banana),0.055514,0.190456,0.011773,0.212065,1.113460,0.001200,1.027425,0.107887
28,(Strawberries),(Banana),0.057585,0.190456,0.015424,0.267852,1.406374,0.004457,1.105711,0.306607
29,(Banana),(Strawberries),0.190456,0.057585,0.015424,0.080986,1.406374,0.004457,1.025463,0.356931
30,(Large Lemon),(Limes),0.061536,0.056759,0.010284,0.167120,2.944353,0.006791,1.132505,0.703668
31,(Limes),(Large Lemon),0.056759,0.061536,0.010284,0.181185,2.944353,0.006791,1.146124,0.700104
32,(Organic Avocado),(Organic Baby Spinach),0.071285,0.097543,0.011546,0.161970,1.660503,0.004593,1.076879,0.428305
33,(Organic Baby Spinach),(Organic Avocado),0.097543,0.071285,0.011546,0.118369,1.660503,0.004593,1.053406,0.440766
34,(Organic Hass Avocado),(Organic Baby Spinach),0.086098,0.097543,0.013052,0.151596,1.554148,0.004654,1.063712,0.390152
35,(Organic Baby Spinach),(Organic Hass Avocado),0.097543,0.086098,0.013052,0.133808,1.554148,0.004654,1.055081,0.395100
36,(Organic Baby Spinach),(Organic Strawberries),0.097543,0.106709,0.014268,0.146271,1.370741,0.003859,1.046340,0.299701
37,(Organic Strawberries),(Organic Baby Spinach),0.106709,0.097543,0.014268,0.133706,1.370741,0.003859,1.041745,0.302777
38,(Organic Hass Avocado),(Organic Strawberries),0.086098,0.106709,0.015242,0.177028,1.658971,0.006054,1.085444,0.434638
39,(Organic Strawberries),(Organic Hass Avocado),0.106709,0.086098,0.015242,0.142833,1.658971,0.006054,1.066190,0.444667
40,(Organic Raspberries),(Organic Strawberries),0.055208,0.106709,0.012624,0.228668,2.142905,0.006733,1.158114,0.564509
41,(Organic Strawberries),(Organic Raspberries),0.106709,0.055208,0.012624,0.118306,2.142905,0.006733,1.071564,0.597055