In [95]:
import pandas as pd
import numpy as np
import seaborn as sns
from file_utils import load_dataframes

In [192]:
items = pd.read_csv('data/items.csv', na_values='unknown', dtype={'item_id':'Int64', 'alley_id':'Int64', 'category': 'Int64'}, index_col=['item_id', 'alley_id', 'category'])
items.drop(columns='Unnamed: 0', inplace=True)
items.info()
items.head()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 49147 entries, (1, 61, 19) to (49688, 73, 11)
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   item_name  47607 non-null  object
dtypes: object(1)
memory usage: 2.1+ MB

                                                                   item_name
item_id alley_id category
1       61       19                               Chocolate Sandwich Cookies
2       104      13                                         All-Seasons Salt
3       94       7                      Robust Golden Unsweetened Oolong Tea
4       38       1         Smart Ones Classic Favorites Mini Rigatoni Wit...
5       5        13                                Green Chile Anytime Sauce

In [167]:
items.info()
print(items.head())
print(items.index)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 49147 entries, (nan, 61.0) to (nan, 73.0)
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   item_name  47607 non-null  object
 1   category   47622 non-null  float64
dtypes: float64(1), object(1)
memory usage: 917.2+ KB
                                                          item_name  category
item_id alley_id
NaN     61.0                             Chocolate Sandwich Cookies      19.0
        104.0                                      All-Seasons Salt      13.0
        94.0                   Robust Golden Unsweetened Oolong Tea       7.0
        38.0      Smart Ones Classic Favorites Mini Rigatoni Wit...       1.0
        5.0                               Green Chile Anytime Sauce      13.0
MultiIndex([(nan,  61.0),
            (nan, 104.0),
            (nan,  94.0),
            (nan,  38.0),
            (nan,   5.0),
            (nan,  11.0),
            (nan,  98.0),
            (nan, 116.0),
            (nan,   nan),
            (nan, 115.0),
            ...
            (nan,  61.0),
            (nan,  89.0),
            (nan,  38.0),
            (nan,  98.0),
            (nan,  83.0),
            (nan, 124.0),
            (nan,  42.0),
            (nan, 112.0),
            (nan,  41.0),
            (nan,  73.0)],
           names=['item_id', 'alley_id'], length=49147)

In [193]:
categories = pd.read_csv('data/categories.csv', index_col='category_id')
categories.drop(columns='Unnamed: 0', inplace=True)

In [194]:
categories.head()

            category
category_id
1             frozen
2              other
3             bakery
4            produce
5            alcohol

In [101]:
categories.info()
categories.describe()
categories.index

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, 1 to 21
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  21 non-null     object
dtypes: object(1)
memory usage: 336.0+ bytes

Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
       21],
      dtype='int64', name='category_id')

In [102]:
alley_inventory = pd.read_csv('data/alley_inventory.csv', index_col='alley_id')

In [103]:
alley_inventory.info()
alley_inventory.head()

<class 'pandas.core.frame.DataFrame'>
Index: 134 entries, 1 to 134
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   alley   134 non-null    object
dtypes: object(1)
memory usage: 2.1+ KB

                               alley
alley_id
1              prepared soups salads
2                  specialty cheeses
3                energy granola bars
4                      instant foods
5         marinades meat preparation

In [199]:
transaction_items__prior = pd.read_csv('data/transaction_items__prior.csv', na_values='unknown', dtype={
    'transaction_id': 'Int64',
    'item_id': 'Int64',
    'add_to_cart_order': 'Int64',
    'previous_bought': 'Int64'
})

In [200]:
transaction_items__prior.drop(columns='Unnamed: 0', inplace=True)
transaction_items__prior.dropna(subset=['transaction_id'], inplace=True)
transaction_items__prior.set_index(['transaction_id','item_id'], inplace=True)

In [201]:
transaction_items__prior.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 31059342 entries, (2.0, 33120.0) to (3421083.0, 5020.0)
Data columns (total 2 columns):
 #   Column             Dtype
---  ------             -----
 0   add_to_cart_order  float64
 1   previous_bought    float64
dtypes: float64(2)
memory usage: 801.3 MB

In [198]:
transaction_items__prior.head()

                        add_to_cart_order  previous_bought
transaction_id item_id
2              33120                    1              1.0
               28985                    2              1.0
               45918                    4              1.0
               30035                    5              0.0
               17794                    6              1.0

In [150]:
transaction_items__train = pd.read_csv('data/transaction_items__train.csv', na_values='unknown', dtype={
    'transaction_id': 'Int64',
    'item_id': 'Int64',
    'add_to_cart_order': 'Int64',
    'previous_bought': 'Int64'
})

In [151]:
transaction_items__train.drop(columns='Unnamed: 0', inplace=True)
transaction_items__train.dropna(subset=['transaction_id'], inplace=True)
transaction_items__train.set_index(['transaction_id', 'item_id'], inplace=True)

In [152]:
transaction_items__train.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1325747 entries, (1.0, 49302.0) to (3421070.0, 4724.0)
Data columns (total 2 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   add_to_cart_order  1284160 non-null  float64
 1   previous_bought    1283667 non-null  float64
dtypes: float64(2)
memory usage: 36.7 MB

In [153]:
transaction_items__train.head()

                        add_to_cart_order  previous_bought
transaction_id item_id
1.0            49302.0                1.0              1.0
               11109.0                2.0              1.0
               10246.0                3.0              0.0
               49683.0                4.0              0.0
               43633.0                5.0              1.0

In [157]:
transactions = pd.read_csv('data/transactions.csv', na_values='unknown', dtype={
    'transaction_id': 'Int64',
    'customer_id': 'Int64',
    'transaction_number': 'Int64',
    'day_of_week': 'Int64',
    'time_of_day': 'Int64',
    'days_since_prior_order': 'Int64'
})

In [158]:
transactions.drop(columns='Unnamed: 0', inplace=True)
transactions.dropna(subset=['transaction_id'], inplace=True)
transactions.set_index(['transaction_id', 'customer_id'], inplace=True)

In [159]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3204781 entries, (2539329.0, 1.0) to (272231.0, 206209.0)
Data columns (total 5 columns):
 #   Column                  Dtype
---  ------                  -----
 0   eval_set                object
 1   transaction_number      float64
 2   day_of_week             float64
 3   time_of_day             float64
 4   days_since_prior_order  float64
dtypes: float64(4), object(1)
memory usage: 245.3+ MB

In [160]:
transactions.head()

,,eval_set,transaction_number,day_of_week,time_of_day,days_since_prior_order
transaction_id,customer_id,,,,,
2539329.0,1.0,prior,1.0,2.0,8.0,NaN
2398795.0,1.0,prior,2.0,3.0,7.0,15.0
473747.0,1.0,prior,3.0,3.0,12.0,21.0
2254736.0,1.0,prior,4.0,4.0,7.0,29.0
431534.0,1.0,prior,5.0,4.0,15.0,28.0

In [202]:
items, categories, alley_inventory, transaction_items__prior, transaction_items__train, transactions = load_dataframes('data')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3508, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/kw/jqx7mjy54pzd21zj6gzyw2mr0000gn/T/ipykernel_23913/3169556678.py", line 1, in <module>
    items, categories, alley_inventory, transaction_items__prior, transaction_items__train, transactions = load_dataframes('data')
  File "/Users/adam/Projects/business-hackathon/file_utils.py", line 18, in load_dataframes
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/pandas/io/parsers/readers.py", line 912, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/pandas/io/parsers/readers.py", line 583, in _read
    return parser.read(nrows)
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/pandas/io/parsers/readers.py", line 1704, in read
    ) = self._engine.read(  # type: ignore[attr-defined]
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/pandas/io/parsers/c_parser_wrapper.py", line 234, in read
    chunks = self._reader.read_low_memory(nrows)
  File "pandas/_libs/parsers.pyx", line 812, in pandas._libs.parsers.TextReader.read_low_memory
  File "pandas/_libs/parsers.pyx", line 889, in pandas._libs.parsers.TextReader._read_rows
  File "pandas/_libs/parsers.pyx", line 1047, in pandas._libs.parsers.TextReader._convert_column_data
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/pandas/core/dtypes/common.py", line 1335, in is_extension_array_dtype
    def is_extension_array_dtype(arr_or_dtype) -> bool:
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2105, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1396, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1287, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1140, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1055, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 955, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 778, in lines
    return self._sd.lines
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/Users/adam/Projects/business-hackathon/venv/lib/python3.9/site-packages/executing/executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0