In [2]:
import pandas as pd

Wczytywanie i joinowanie

In [93]:
transactions = pd.read_csv("data/transactions.csv")
transactions = transactions.drop(columns=['Unnamed: 0'])
transactions = transactions.loc[~ (transactions.transaction_id == "unknown")]
transactions = transactions.dropna(subset="transaction_id")
transactions["transaction_id"] = transactions["transaction_id"].astype(float).astype(int)
transactions = transactions.set_index("transaction_id")
transactions

,customer_id,eval_set,transaction_number,day_of_week,time_of_day,days_since_prior_order
transaction_id,,,,,,
2539329,1.0,prior,1.0,2.0,8.0,NaN
2398795,1.0,prior,2.0,3.0,7.0,15.0
473747,1.0,prior,3.0,3.0,12.0,21.0
2254736,1.0,prior,4.0,4.0,7.0,29.0
431534,1.0,prior,5.0,4.0,15.0,28.0
...,...,...,...,...,...,...
2266710,206209.0,prior,10.0,5.0,18.0,29.0
1854736,206209.0,prior,11.0,4.0,10.0,30.0
626363,206209.0,prior,12.0,1.0,12.0,18.0
2977660,206209.0,prior,13.0,1.0,12.0,7.0
272231,206209.0,train,14.0,6.0,14.0,30.0

In [95]:
transaction_items_prior = pd.read_csv("data/transaction_items__prior.csv")
transaction_items_prior = transaction_items_prior.drop(columns=['Unnamed: 0'])
transaction_items_prior = transaction_items_prior.loc[~ (transaction_items_prior.transaction_id == "unknown")]
transaction_items_prior = transaction_items_prior.dropna(subset="transaction_id")
transaction_items_prior["transaction_id"] = transaction_items_prior["transaction_id"].astype(float).astype(int)
transaction_items_prior = transaction_items_prior.set_index("transaction_id")
transaction_items_prior

                item_id add_to_cart_order previous_bought
transaction_id
2               33120.0               1.0             1.0
2               28985.0               2.0             1.0
2               45918.0               4.0             1.0
2               30035.0               5.0             0.0
2               17794.0               6.0             1.0
...                 ...               ...             ...
3421083         39678.0               6.0             1.0
3421083         11352.0               7.0             0.0
3421083          4600.0               8.0             0.0
3421083         24852.0               9.0             1.0
3421083          5020.0              10.0             1.0

[31059342 rows x 3 columns]

In [96]:
transaction_items_train = pd.read_csv("data/transaction_items__train.csv")
transaction_items_train = transaction_items_train.drop(columns=['Unnamed: 0'])
transaction_items_train = transaction_items_train.loc[~ (transaction_items_train.transaction_id == "unknown")]
transaction_items_train = transaction_items_train.dropna(subset="transaction_id")
transaction_items_train["transaction_id"] = transaction_items_train["transaction_id"].astype(float).astype(int)
transaction_items_train = transaction_items_train.set_index("transaction_id")
transaction_items_train

                item_id add_to_cart_order previous_bought
transaction_id
1               49302.0               1.0             1.0
1               11109.0               2.0             1.0
1               10246.0               3.0             0.0
1               49683.0               4.0             0.0
1               43633.0               5.0             1.0
...                 ...               ...             ...
3421063         14233.0               3.0             1.0
3421063         35548.0               4.0             1.0
3421070         35951.0               1.0             1.0
3421070         16953.0               2.0             1.0
3421070          4724.0               3.0             1.0

[1325747 rows x 3 columns]

In [104]:
df_prior = transaction_items_prior.join(transactions)
df_prior

,item_id,add_to_cart_order,previous_bought,customer_id,eval_set,transaction_number,day_of_week,time_of_day,days_since_prior_order
transaction_id,,,,,,,,,
2,33120.0,1.0,1.0,202279.0,prior,3.0,5.0,9.0,8.0
2,28985.0,2.0,1.0,202279.0,prior,3.0,5.0,9.0,8.0
2,45918.0,4.0,1.0,202279.0,prior,3.0,5.0,9.0,8.0
2,30035.0,5.0,0.0,202279.0,prior,3.0,5.0,9.0,8.0
2,17794.0,6.0,1.0,202279.0,prior,3.0,5.0,9.0,8.0
...,...,...,...,...,...,...,...,...,...
3421083,39678.0,6.0,1.0,25247.0,prior,24.0,2.0,6.0,21.0
3421083,11352.0,7.0,0.0,25247.0,prior,24.0,2.0,6.0,21.0
3421083,4600.0,8.0,0.0,25247.0,prior,24.0,2.0,6.0,21.0
3421083,24852.0,9.0,1.0,25247.0,prior,24.0,2.0,6.0,21.0
3421083,5020.0,10.0,1.0,25247.0,prior,24.0,2.0,6.0,21.0

In [105]:
df_prior.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31059342 entries, 2 to 3421083
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   item_id                 object
 1   add_to_cart_order       object
 2   previous_bought         object
 3   customer_id             object
 4   eval_set                object
 5   transaction_number      object
 6   day_of_week             object
 7   time_of_day             object
 8   days_since_prior_order  object
dtypes: object(9)
memory usage: 2.3+ GB

In [102]:
df_train = transaction_items_train.join(transactions)
df_train

,item_id,add_to_cart_order,previous_bought,customer_id,eval_set,transaction_number,day_of_week,time_of_day,days_since_prior_order
transaction_id,,,,,,,,,
1,49302.0,1.0,1.0,112108.0,train,4.0,4.0,10.0,9.0
1,11109.0,2.0,1.0,112108.0,train,4.0,4.0,10.0,9.0
1,10246.0,3.0,0.0,112108.0,train,4.0,4.0,10.0,9.0
1,49683.0,4.0,0.0,112108.0,train,4.0,4.0,10.0,9.0
1,43633.0,5.0,1.0,112108.0,train,4.0,4.0,10.0,9.0
...,...,...,...,...,...,...,...,...,...
3421063,14233.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3421063,35548.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3421070,35951.0,1.0,1.0,139822.0,train,15.0,6.0,10.0,8.0
3421070,16953.0,2.0,1.0,139822.0,train,15.0,6.0,10.0,8.0
3421070,4724.0,3.0,1.0,139822.0,train,15.0,6.0,10.0,8.0

In [103]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1325747 entries, 1 to 3421070
Data columns (total 9 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   item_id                 1304733 non-null  object
 1   add_to_cart_order       1305298 non-null  object
 2   previous_bought         1304858 non-null  object
 3   customer_id             1248424 non-null  object
 4   eval_set                1247345 non-null  object
 5   transaction_number      1249106 non-null  object
 6   day_of_week             1249152 non-null  object
 7   time_of_day             1248781 non-null  object
 8   days_since_prior_order  1248037 non-null  object
dtypes: object(9)
memory usage: 101.1+ MB